name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - 'renovate/**'
      - 'github-renovate/**'
  pull_request: null
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@749673fac018f205c652ee8520c9187cd8401cfe # v8.0.18
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@749673fac018f205c652ee8520c9187cd8401cfe # v8.0.18
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@749673fac018f205c652ee8520c9187cd8401cfe # v8.0.18
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # v6.0.1
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      - name: Test
        uses: renovatebot/github-action@8ac70de2fe55752c573155866e30735411e3b61c # v41.0.22
        with:
          configurationFile: .github/renovate-global.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_DRY_RUN: full
          RENOVATE_REPOSITORIES: '["vidavidorra/renovate"]'
  release:
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
    uses: vidavidorra/.github/.github/workflows/release.yml@749673fac018f205c652ee8520c9187cd8401cfe # v8.0.18
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
