name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - 'renovate/**'
      - 'github-renovate/**'
  pull_request: null
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@92b7ed5ab031e472bdd860ae866fce16b3507733 # v8.0.2
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@92b7ed5ab031e472bdd860ae866fce16b3507733 # v8.0.2
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@92b7ed5ab031e472bdd860ae866fce16b3507733 # v8.0.2
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      - name: Test
        uses: renovatebot/github-action@8ac70de2fe55752c573155866e30735411e3b61c # v41.0.22
        with:
          configurationFile: .github/renovate-global.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_DRY_RUN: full
          RENOVATE_REPOSITORIES: '["vidavidorra/renovate"]'
  release:
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
    uses: vidavidorra/.github/.github/workflows/release.yml@92b7ed5ab031e472bdd860ae866fce16b3507733 # v8.0.2
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
