name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - 'renovate/**'
      - 'github-renovate/**'
  pull_request: null
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Setup node
        uses: actions/setup-node@6044e13b5dc448c55e2357c09f80417699197238 # v6.2.0
      - name: Test
        uses: renovatebot/github-action@8ac70de2fe55752c573155866e30735411e3b61c # v41.0.22
        with:
          configurationFile: .github/renovate-global.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_DRY_RUN: full
          RENOVATE_REPOSITORIES: '["vidavidorra/renovate"]'
  release:
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
    uses: vidavidorra/.github/.github/workflows/release.yml@cb7cd9678bc35e22d7b70209f41bebe2e442f8a7 # v8.0.22
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
