name: CI/CD
on:
  push:
    branches:
      - main
      - beta
      - 'renovate/**'
      - 'github-renovate/**'
  pull_request: null
jobs:
  lint-commit-messages:
    uses: vidavidorra/.github/.github/workflows/lint-commit-messages.yml@db9be1dad3c0a679b4fd1f6b945890b6409d6a9a # v8.0.1
  lint:
    uses: vidavidorra/.github/.github/workflows/node-lint.yml@db9be1dad3c0a679b4fd1f6b945890b6409d6a9a # v8.0.1
  build:
    uses: vidavidorra/.github/.github/workflows/node-build.yml@db9be1dad3c0a679b4fd1f6b945890b6409d6a9a # v8.0.1
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Setup node
        uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      - name: Test
        uses: renovatebot/github-action@8ac70de2fe55752c573155866e30735411e3b61c # v41.0.22
        with:
          configurationFile: .github/renovate-global.json
          token: ${{ secrets.RENOVATE_TOKEN }}
        env:
          LOG_LEVEL: debug
          RENOVATE_DRY_RUN: full
          RENOVATE_REPOSITORIES: '["vidavidorra/renovate"]'
  release:
    needs:
      - lint-commit-messages
      - lint
      - build
      - test
    uses: vidavidorra/.github/.github/workflows/release.yml@db9be1dad3c0a679b4fd1f6b945890b6409d6a9a # v8.0.1
    secrets:
      privateKey: ${{ secrets.RELEASE_PRIVATE_KEY }}
